<div class="h2 bg-success text-white">
  <h3 class="mb-4 ml-1" style="text-shadow: 2px 2px 4px">
    <span class="icon">
      <i class="fas fa-globe-americas"></i>
    </span>
    Localização
  </h3>
</div>

<div class="ml-3">
  <h1>Latitude: {{ latitude }} <br> Longitude: {{ longitude }}</h1>
  <div class="btn btn-success text-secondary">
    <a [href]="map_url" class="text-white">Onde estou? (Google Maps)</a>
  </div>
  <hr>
  <button class="btn btn-success text-white" data-toggle="collapse" data-target="#rastro">Rastreamento</button>
  <div id="rastro" class="collapse">
    <h1>Latitude: {{ latitude2 }} <br>Longitude: {{ longitude2 }}</h1>
  </div>
</div>